@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #221f1f;
    font-size: 14px;
}

.list_style {
    list-style: none;
}

.text_bold {
    font-weight: bold;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    background: #ffffff;
    display: table;
    height: 100%;
    width: 100%;

}

/*header*/

.header {
    display: inline-block;
    width: 100%;
}

.wrapper_p {
    margin: 0 auto;
    width: 1100px;
}

.header_wrapper_padding {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 21px;
}

.block-color {
    background: #1c5bc3;
}

.logo {
    float: left;
}

.contacts {
    text-align: right;
}

.contacts_position {
    float: right;
    margin-top: -3px;
}

.contacts__phone {
    font-weight: bold;
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.contacts__phone_s {
    font-size: 18px;
}

.contacts__phone_position {
    display: block;
    margin-bottom: 2px;
}

.contact__schedule {
    font-weight: bold;
    color: #ffffff;
    opacity: .7;
}

/*content*/

.content {
    display: table-row;
    height: 100%;
}

/*sidebar*/

.sidebar {
    float: left;
    width: 200px;
}

.sidebar_padding {
    padding-top: 42px;
    padding-left: 7px;
}

.menu-nav_position {
    padding-left: 10px;
}

.menu-nav__item {
    display: inline-block;
}

.menu-nav__item_margin {
    margin-bottom: 30px;
}

.menu-nav__item_margin:last-child {
    margin-bottom: 0;
}

.menu-nav__link {
    display: block;
    text-decoration: none;
    vertical-align: top;
}

.menu-nav__img {
    vertical-align: middle;
    width: 23px;
    height: 19px;
    display: inline-block;
}

.menu-nav__text {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #1c5bc3;
}

.menu-nav__text_position {
    padding-left: 14px;
    padding-top: 3px;
    letter-spacing: 2px;
}

.menu-nav__link:hover .menu-nav__text, .menu-nav__link_active .menu-nav__text {
    color: #221f1f;
}

.menu-nav__icon-index {
    background: url("../img/icons/sidebar_index_blue.png") no-repeat center center;
}

.menu-nav__icon-crew {
    background: url("../img/icons/sidebar_crew_blue.png") no-repeat center center;
}

.menu-nav__icon-star {
    background: url("../img/icons/sidebar_star_blue.png") no-repeat center center;
}

.menu-nav__link:hover .menu-nav__icon-index, .menu-nav__link_active .menu-nav__icon-index {
    background-image: url("../img/icons/sidebar_index_black.png");
}

.menu-nav__link:hover .menu-nav__icon-crew, .menu-nav__link_active .menu-nav__icon-crew {
    background-image: url("../img/icons/sidebar_crew_black.png");
}

.menu-nav__link:hover .menu-nav__icon-star, .menu-nav__link_active .menu-nav__icon-star {
    background-image: url("../img/icons/sidebar_star_black.png");
}

/*page*/

.page {
    display: inline-block;
    margin-top: -3px;
    width: 900px;
}

.index-page {
    width: 879px;
    height: 354px;
}

.index-page_position {
    position: relative;
    padding-left: 1px;
}

.index-page__img {
    width: 100%;
    height: 100%;
}

.index-page__text, .name-page {
    font-size: 49px;
    font-weight: bold;
}

.index-page__text_position {
    position: absolute;
    top: 118px;
    left: 65px;
}

.page__text {
    font-size: 18px;
    line-height: 30px;
    width: 700px;
}

.index-text__style {
    margin-bottom: 15px;
}

.index-text_margin {
    margin-bottom: 21px;
}

.page__text_position {
    margin-top: 24px;
}

.page__clients {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1.1px;
}

.page__clients_position {
    margin-left: 1px;
}

.suggestions {
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.suggestions__list {
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.info {
    background: #1c5bc3;
    color: #ffffff;
}

.info_padding-margin {
    padding: 13px 73px 11px 30px;
    margin-bottom: 75px;
}

.info__link {
    color: #ffffff;
}

/*page-partners*/

.partners {
    padding-bottom: 2px;
}

.partners__title {
    font-size: 49px;
    font-weight: bold;
}

.partners__list_position {
    padding-top: 52px;
    margin-left: -4px;
    margin-bottom: 6px;
}

.partners__item {
    vertical-align: middle;
    display: inline-table;
    text-align: center;
    width: 168px;
}

.partners__item_position {
    margin-right: 92px;
    margin-bottom: 54px;
}

.partners__item:nth-child(3n) {
    margin-right: 0;
}

.partners__link {
    filter: grayscale(1);
    vertical-align: middle;
    display: table-cell;

}

.partners__link:hover {
    filter: none;
}

/*footer*/

.footer {
    color: #ffffff;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.footer-wrapper_padding {
    padding-left: 20px;
    padding-right: 19px;
    padding-top: 13px ;
    padding-bottom: 12px;
}

.author {
    float: left;
    width: 250px;
    display: inline-block;

}

.author_margin {
    margin-bottom: 2px;
}

.author_margin:last-child {
    margin-bottom: 0;
}

.logo_position {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    padding-top: 6px;
}

.social {
    float: right;
}

.social_position {
    padding-top: 5px;
}

.social-link__item {
    display: inline-block;
}

.social-link__link {
    display: inline-block;
    opacity: .7;
}

.social-link__link:hover {
    opacity: 1;
}

.social-link_position {
    margin-top: 7px;
}

.social-link__item_position {
    margin-right: 7px;
}

.social-link__item_position:last-child {
    margin-right: 0;
}

/*page-reviews*/

.page_padding {
    margin-top: 40px;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__list {
    font-weight: 300;
    font-style: italic;
    color: #1c5bc3;
    opacity: .8;
}

.breadcrumbs__list_active {
    color: #221f1f;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.name-page_position {
    margin-top: 19px;
    margin-left: -3px;
}

.page__reviews {
    width: 879px;
}

.review {
    padding-bottom: 19px;
    margin-bottom: 25px;
}

.review-photo {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    background: url("../img/logo/reviews_img_none.png") no-repeat center center;
}

.review-photo_position {
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.review-photo__img {
    width: 100%;
    height: 100%;
}

.review-comment {
    display: inline-block;
    width: 700px;
    font-size: 18px;
    vertical-align: top;
}

.review-comment_position {
    padding-left: 1px;
}

.review-comment_time {
    font-size: 14px;
    color: #656464;
}

.review-comment__name_position {
    padding-top: 6px;
}

.review-comment__text {
    line-height: 30px;
}

.review-comment__text_position {
    padding-top: 10px;
}

.review {
    border-bottom: solid 2px #f5f5f5;
}

.review:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.pagination {
    text-align: center;
}

.pagination_position {
    padding-top: 21px;
    margin-left: -112px;
    margin-bottom: 70px;
}

.pagination-page, .pagination-list, .pagination-list__item {
    display: inline-block;
}

.pagination-list_position {
    margin-left: 10px;
    margin-top: -1px;
}

.pagination-list {
    font-size: 0;
}

.pagination-list__link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #221f1f;
    padding: 4px 9px;
}

.pagination-list__link:hover {
    border-radius: 4px;
    background: #1c5bc3;
    color: #ffffff;
}

.pagination-list__list_disable {
    cursor: default;
    pointer-events: none;
    font-weight: normal;
    text-decoration: none;
}

.pagination-list__list_active {
    border-radius: 4px;
    background: #1c5bc3;
    color: #ffffff;
    pointer-events: none;
    cursor: default;
}

/*form*/


.form {
    width: 700px;
    background: #f5f5f5;
    border-radius: 3px;
}

.form_padding {
    padding: 43px 68px 49px;
    margin-bottom: 71px;
}

.form__index-name {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 15px;
}

.form__row {
    width: 100%;
    margin-bottom: 13px;
}

.form__label-input {
    float: left;
}

.form__label-input:first-child {
    margin-right: 23px;
}

.fotrm__title {
    margin-bottom: 8px;
}

.form__input {
    width: 269px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding-left: 10px;
    letter-spacing: .5px;
}

.form__input_position {
    margin-top: 8px;
}

.form__label-textarea {
    display: inline-block;
    padding-top: 4px;
}

.form__comment {
    width: 561px;
    height: 90px;
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    border: 1px solid transparent;
    padding-top: 5px;
    padding-left: 10px;
}

.form__input:focus, .form__comment:focus {
    border-color: #1c5bc3;
    outline: none;
}

.button__left{
    float: left;
    width: 50%;
}
.button__right{
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 3px;
    padding-right: 2px;
}

.button__left-title {
    margin-bottom: 9px;
}

.form__radio{
    padding-left: 2px;
}

.form__radio-btn {
    display: none;
}

.form__radio_fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
    border: 1px solid #c9c9c9;
    position: relative;
    vertical-align: bottom;

}

.form__radio-btn:checked + .form__radio_fake {
    border-color: #1c5bc3 ;
}

.form__radio-btn:checked + .form__radio_fake:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #1c5bc3;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.form__radio-btn:checked + .form__radio_fake + .form__radio-title{
    color: #1c5bc3 ;
}
.form__radio-title {
    display: inline-block;
    vertical-align: 2px;
    padding-left: 1px;
    margin-right: 16px;
}

.form__btn {
    width: 154px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #1C5BC3;
    position: relative;
    font-size: 0;
    color: #ffffff;
}

.btn__text {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    display: inline-block;
}

.btn__text_position {

}

.btn__img_position {
    margin-left: 10px;
}

.btn__img {
    display: inline-block;
    width: 15px;
    height: 14px;
    background-image: url("../img/icons/btn_img_white.png");
    background-size: cover;
}

.form__btn:hover {
    background-color: #ffffff;
    color: #1C5BC3;
    cursor: pointer;
}

.form__btn:hover .btn__img {
    background-image: url("../img/icons/btn_img_blue.png");
}

 /*crew*/

.crew__list {
    padding-left: 11px;
    padding-top: 5px;
    line-height: 21px;
    margin-bottom: 20px;

}

.crew__item {
    display: inline-block;
    width: 258px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 44px;
    margin-right: 38px;
}

.crew__item:nth-child(3n) {
    margin-right: 0;
}
.crew__photo {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 11px;
}

.crew__photo-item {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.crew__name {
    font-size: 18px;
    color: #221f1f;
    margin-bottom: 2px;
}

.crew__post {
    color: #1c5bc3;
    margin-bottom: 5px;
}
